@using BusinessLayer;
@using DataLayer;
@{
    ViewData["Title"] = "Reservations";
}

<div class="text-center">
    <ul class="list-group">
        @foreach(Reservation r in ViewBag.List)
        {
            <li class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@r.GetService(new DataMapper<Service>()).Result.Name</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">@r.ReservationStart.ToString("HH:mm") - @r.ReservationEnd.ToString("HH:mm")</h6>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
